@import "./color.scss";

.secondSection {
  width: 100%;
  height: 70vh;
  display: flex;
  box-sizing: border-box;
  background-color: black;
  border-bottom: $bordercolor;

  > div:first-of-type {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $fontcolor;
    padding: 2rem 4rem;
    margin-left: 2rem;
    > h1 {
      width: 100%;
      font-size: 3rem;
      font-weight: 600;
      margin: 1rem 0;
    }
    > h3 {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.8rem;
    }
  }
  > div:last-of-type {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 3rem;
    > div {
      width: 30vmax;
      height: 25vmax;
      position: relative;
      > video {
        position: absolute;
        border: 1px solid green;
        width: 75%;
        height: 80%;
        top: 8%;
        left: 12%;
      }
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .secondSection {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 3rem;

    > div:first-of-type {
      width: 100%;
      height: 50%;
      text-align: center;
      margin: 0;

      > h1 {
        font-size: 1.8rem;
        width: 90%;
      }
      > h3 {
        font-size: 1.3rem;
        width: 95%;
      }
    }
    > div:last-of-type {
      width: 100%;
      height: 50%;
      justify-content: center;
      padding-left: 3%;
      > div {
        width: 250px; //30vmax
        height: 200px; //30vmax
      }
    }
  }
}
@media (min-width: 1600px) {
  .secondSection {
    > div:first-of-type {
      > h1 {
        font-size: 3.5rem;
      }
      > h3 {
        font-size: 1.5rem;
      }
    }
  }
}
